extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let instrumentsid = toShow._id
    - let instrument_type = toShow.instrument_type
    - let brand = toShow.brand
    - let price = toShow.price

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{instrumentsid}

    - let actionid = "/resource/instruments/" + instrumentsid
    form(id='instrumentsForm', action= actionid, method="PUT")
      div.form-group
        label.instrumentsAttr(for='instrument_type') Instrument type:
        input#instrument_type(type='number', name='instruments_type', value= instruments_type)

      div.form-group
        label.instrumentsAttr(for='brand') Brand:
        input#brand(type='text', name='brand', value= brand)

      div.form-group
        label.instrumentsAttr(for='price') price:
        input#price(type='text', name='price', value= price)

      input(type="submit")

    script.
      document.forms['instrumentsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle the response body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed: " + error);
        });
      });
